<section class="bg-light border-bottom-0">
  <h1 class="text-center"><span class="fa fa-shopping-cart"></span>  MediaTek Store <span class="fa fa-shopping-cart"></span></h1>
</section>
<section>
<div class="container-fluid">
  <div class="row">

    <div *ngFor="let p of produits" class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
      <div class="card pl-4 pr-3 py-2">
        <div class="div1 row py-4 px-2">
          <div class="col-3 mt-2"> <button class="btn discBtn text-white p-1 p-md-2">-15%</button> </div>
          <div class="col-6 d-flex justify-content-center"> <img src="assets/imgs/{{p.id}}.jpg" height="" width="150%" alt=""> </div>
        </div>
        <div class="py-2">
          <h5>{{p.designation}}</h5>
          <p>{{p.categorie}} </p>
          <div class="d-flex">
            <h5 class="align-self-center">{{(p.prixUnit * 0.85).toFixed(2)}} Dhs</h5>
            <button (click)="add(p)" type="submit" class="buy d-flex ml-auto font-weight-bold pl-4 pr-5 py-2 border-0"> Acheter </button>
            <span class="cart text-white d-flex p-2"><i class="fa fa-shopping-cart fa-lg align-self-center" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section>
</section>

<section class="bg-light border-bottom-0">
  <h1 class="text-center"><span class="fa fa-shopping-bag"></span> Panier <span class="fa fa-shopping-bag"></span></h1>
</section>
<app-cart></app-cart>
