<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Produits</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of cart;let i = index;" class="produit_row">
            <td>
              <div class="media">
                <div class="d-flex">
                  <img class="img-fluid" width="350px" height="auto" src="assets/imgs/{{p.id}}.jpg">
                </div>
                <div class="media-body">
                  <h4>{{p.categorie}} : </h4>
                  <p> {{p.categorie}}, {{p.designation}}.</p>
                </div>
              </div>
            </td>
            <td class="price_container">
              <h5 class="price">{{p.prixUnit}} dhs</h5>
            </td>
            <td class="qty_container">
              <div class="product_count">
                <input [(ngModel)]="produits[p.id]" type="number" class="qteCom" maxlength="12" min="1" max="{{p.qteStock}}" name="produits[]" class="input-text qty form-control">
              </div>
            </td>
          </tr>
          <!-------------------------------------------total--------------------------------------------->
          <tr>
            <td>
            </td>
            <td>
              <h5>Total TTC :</h5>
            </td>
            <td>
              <h5 id="total"></h5>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-------------------------------------------total--------------------------------------------->
          <tr class="shipping_area">
            <div class="client-details mt-5">
              <div class="card">
                <div class="card-header"><h4>Détails de la Facture :</h4></div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col col-6">
                        <h6>Nom :</h6>
                        <h6>Prénom :</h6>
                        <h6>Cin :</h6>
                      </div>
                      <div class="col col-6">
                        <h6>{{sessionClient.nom}}</h6>
                        <h6>{{sessionClient.prenom}}</h6>
                        <h6>{{sessionClient.cin}}</h6>
                      </div>
                    </div>
                  </div>
                  <input class="form-control" type="text" name="adresse" [(ngModel)]="adresse" placeholder="Adresse de facturation">
                </div>
              </div>
            </div>
          </tr>
          <br>
          </tbody>
          <tfoot>
          <button class="btn gray_btn" (click)="valider()">Valider la commande</button>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>
